{% extends 'base.html' %}
{% block contant %}
<div class=" container mt-5 ">
    <h1 class="text-warning mb-5 border-bottom mx-5"><b>EXTRA CURRICULAR</b></h1>
    <div class=" column text-white mx-5 px-5  ">
        <h5><li>Workshop - 2017</li></h5>
         <div style="height: 50px; background-color: rgba(219, 11, 11, 0.555);">
             <p style="text-indent: 30px;">I had Attend 5 days workshoop on  <b class="text-warning"> BIG DATA HADOOP </b>,  in Aptroon solution pvt. Ltd</p>
         </div>
     </div>

    <div class=" column text-white mx-5 px-5 mt-4 ">
       <h5><li>Coding Competiton - 2018</li></h5>
        <div style="height: 50px; background-color: rgba(219, 11, 11, 0.555);">
            <p style="text-indent: 30px;">I had participate <b class="text-info">CODING COMPETITION</b>  in my college <b class="text-warning"> ( Sanskar Educational Group ).</b> </p>
        </div>
    </div>

     <div class=" column text-white mx-5 px-5 mt-4 ">
        <h5><li>Workshop - 2019</li></h5>
         <div style="height: 50px; background-color: rgba(219, 11, 11, 0.555);">
             <p style="text-indent: 30px;">I had Attend workshop of <b class="text-info">ARTIFICIAL INTELLIGENCE</b> in CETPA , Noida</p>
         </div>
     </div>

     <div class=" column text-white mx-5 px-5 mt-4 ">
        <h5><li>Workshop - 2019</li></h5>
         <div style="height: 50px; background-color: rgba(219, 11, 11, 0.555);">
             <p style="text-indent: 30px;">I had Attend workshop of <b class="text-info">CYBER SECURITY</b> in <b class="text-warning">Amaizin training basket pvt. Ldt</b>  .Noida</p>
         </div>
     </div>
    </div>

{% endblock contant%} 