{% extends 'base.html' %}
{% block contant %}
<div class=" container mt-5 px-5">
    <h1 class="text-warning mb-5 border-bottom mx-5 "><b>SUMMER INTENSHIP</b></h1>
    <div class=" column text-white  mx-5 px-5  ">
        <h3><li>Amazin training basket pvt. Ltd. , Noida</li></h3>
         <div style="height: 50px; background-color:rgba(11, 219, 132, 0.972);">
             <p style="text-indent: 30px;"><b class="text-dark"> 6th Months Inernship training in software Development Training Department on java. </b></p>
         </div>
    </div>

</dir>

<div class=" container mt-4">
    <h1 class="text-warning  mb-3 border-bottom mx-4"><b>PERSONAL PROJECTS</b></h1>
    <div class=" column text-light mx-5 px-4  text-justify">
        <h4><li>Call summary Instructor</li></h4>

         <div class="px-5 text-justify" style="height: 50px; background-color: rgba(11, 219, 132, 0.972);">
             <p style="text-indent: px;"><b class="text-dark"> Call summary instructor is a project which is developed by using CORE JAVA platform. This project Aims to
                sort unstructured data in a well define state by organising the data in excel file which is easly readable. </b></p>
         </div>
    </div>

    <div class=" column text-light mx-5 px-4 mt-4 ">
        <h4><li>Customer Relationship Management System</li></h4>

         <div class="px-5 text-justify" style="height: 75px; background-color: rgba(6, 196, 117, 0.972);">
             <p style="text-indent: px;"><b class="text-dark "> The CRM System is a project which is developed by using ADVANCE JAVA platform . it is a Web based
                Online Interface that aspect customer interactions, provides powerful insight into the performance of your business and your staff, and drives user productivity.
                 </b></p>
         </div>
    </div>

    
</dir>


{% endblock contant %}
